* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  /* font-family: outfit; */
}
body {
  margin: 0;
  padding: 0;
}
#we {
  position: relative;
}
#we::after {
  content: "";
  top: 0;
  background-image: url("");
  left: 0;
  position: absolute;
  width: 3px;
  height: 100px;
  background-color: #000;
}
#check:checked {
  border: none;
}
@media (min-width: 414px) and (max-width: 415px) {
  #form {
    border: 1px solid transparent;
    width: 370px;
    margin: 0 auto;
  }
}
@media (min-width: 389px) and (max-width: 391px) {
  #form {
    width: 370px;
  }
}
@media (min-width: 429px) and (max-width: 431px) {
  #form {
    width: 390px;
  }
}
@media (min-width: 411px) and (max-width: 413px) {
  #form {
    width: 370px;
  }
}
@media (min-width: 539px) and (max-width: 541px) {
  #form {
    width: 450px;
  }
}

@media (min-width: 344px) and (max-width: 345px) {
  #img {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 1024px) and (max-width: 1025px) {
  #dd {
    height: 100vh;
  }
}
@media (min-width: 912px) and (max-width: 913px) {
  #dd {
    height: 100vh;
  }
}
@media (min-width: 853px) and (max-width: 854px) {
  #dd {
    height: 100vh;
  }
}
@media (min-width: 767px) and (max-width: 769px) {
  #wa {
    height: 1100px;
  }
}
@media (min-width: 767px) and (max-width: 769px) {
  #wq {
    height: 1155px;
  }
}
